{
  "extends": "@react-native-community",
  "rules": {
    "jsx-quotes": [2, "double", { "avoidEscape": true }],
    "prettier/prettier": ["error", { "singleQuote": true, "jsxSingleQuote": true }]
    // "quotes": [0, "single"]
    // "quotes": 0,
    // "prettier/prettier": 0
  }
}
